<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccaong.xshare">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--读取手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--基于基站的地址信息（6.0以后，使用WiFi时，需要申请这个权限）-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--系统设置，不能直接使用，需要调转到系统设置界面-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>